.amber {
  background-color: #f59e0b;
}

.green {
  background-color: #10b981;
}

.orange {
  background-color: #f97316;
}

.skyBlue {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.password-item {
  margin: 10px;
  list-style-type: none;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0;
}

.text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: 10px;
}

.text-container {
  width: 300px;
}

.stars {
  width: 100px;
  margin-left: 10px;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}

.item-container {
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.del-img {
  background-color: transparent;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.del-butt {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
